.signed-in-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.signed-in-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url('/images/figma_bg_dark.png');
    background-color: #174b4d;
    justify-content: center;
}
.welcome_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: #eeebe5;
    font-size: 25px;
  }

.signed-in-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
    background-color: #173637;
}

.signed-in-nav ul {
    background-color: #1e5456;
    padding: 0;
}

.signed-in-nav li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.signed-in-nav li a{
    color: #eeebe5;
    font-size: 20px;
    font-weight: 450;
    padding: 0.8vw 2vw;
    transition: color 0.3s ease-in-out;
}

.signed-in-nav li a:hover{
    background-color: #abc7c8;
    color: #173637;
    font-size: 20px;
    font-weight: 450;
    transition: color 0.3s ease-in-out;
}

a.no-cursor {
    cursor: default;
    background-color: #abc7c8;
    color: #173637 !important;
    font-size: 20px;
    font-weight: 450;
}


/* Post car page */
.post-car-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
.post-a-car {
    font-size: 20px;
}

.post-form {
    color: #eeebe5;
    margin-right: 2vw;
    margin-left: 10vw;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.postcar-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.postcar-button {
    background-color: #abc7c8;
    color: #173637;
}

.postcar-table {
    margin-top: 1vw;
}

.post-database {
    display: flex;
    color: #eeebe5;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.postcar-db-columns th{
    font-size: 18px;
    font-weight: 400;
    background-color: #d9e6e6b6;
    color: #173637;
    padding: 1vw;
}

.postcar-db-rows td{
    font-size: 18px;
    font-weight: 350;
    background-color: #174b4dcf;
    color: #eeebe5;
    border-color: #1c2525;
    padding: 1vw;
}

.selected-db-row td{
    font-size: 18px;
    font-weight: 350;
    background-color: #eeebe5bf;
    color: #174b4dcf;
    border-color: #1c2525;
    padding: 1vw;
    font-weight: 500;
}

.selected-db-row button{
    font-weight: 500;
}

/* Search Car Page */
.searchNChosenArea {
    background-image: url('/images/figma_bg_dark.png');
    background-size: cover;
    overflow: auto;
    background-color: #174b4d;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding-top: 3vw;
}

.search-car-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}

.chosenCarArea {
    display: flex;
    flex-direction: column;
}

.chosenCarForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #eeebe5;
    align-items: flex-start;
    padding-left: 10vw;
    padding-bottom: 5vw;
}

input[type="number"], rentDays{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1em;
    background-color: #36454F;
    color: #F5DEB3;
}

.searchCarButtonGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:flex-start;
    align-items: center;
    margin-top: 1vw;
}


.searchCarButtonGroup Button{
    margin-right: 0.5vw;
}

.searchcar-button-container {
    display: flex;
    justify-content: center;
    width: 70%;
}

.searchcar-button-container Button {
    padding: 1.5vw 1vw;
}

/* Order History */
.orderHistoryTitle {
    font-size: 20px;
    font-weight: 500;
    color: #eeebe5;
}

.tab-button {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #abc7c8;
    color: #1c2525;
    font-size: 16px;
    cursor: pointer;
    margin: 1.5vw 1vw;
    transition: background-color 0.3s ease-in-out;
}
  
.tab-button:hover {
    background-color: #f5deb3;
    color:#1c2525;
}

button.active {
    background-color: #f5deb3;
    color:#1c2525;
  }

.orderHistoryMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    height: 100%;
    width: 100%;
    background-image: url('/images/figma_bg_dark.png');
    background-color: #174b4d;
    background-size: cover;
    overflow: auto;
}

.orderHist-db-columns th{
    font-size: 18px;
    font-weight: 400;
    background-color: #d9e6e6b6;
    color: #173637;
    padding: 1vw;
}

.orderHist-db-rows td{
    font-size: 18px;
    font-weight: 350;
    background-color: #174b4dcf;
    color: #eeebe5;
    border-color: #1c2525;
    padding: 1vw;
}

@media (max-width: 767px) {
    .signed-in-nav li a{
        font-size: 14px;
    }

    .post-car-area {
        flex-direction: column;
    }

    .post-form {
        margin-top: 3vw;
        margin-right: 0vw;
        margin-left: 0vw;
    }

    .chosenCarForm{ 
        padding-left: 5vw;
        font-size: 14px;
    }

    .searchcar-button-container Button {
        font-size: 14px;
    }

    .post-form {
        font-size:  12px;
    }

    .postcar-db-columns th{
        font-size: 12px;
    }

    .postcar-db-rows td{
        font-size: 12px;
    }

    .chosenCarForm Button {
        font-size: 10px;
    }
}